.worktime {
  margin-top: 30px;
}
.worktime h2 {
  font-size: max(2vw, 24px);
  font-weight: 600;
  color: #bfbfbf;
}
.worktime-container {
  margin-top: 30px;
  background: #0d0d0d;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  /*border: 1px solid #00e5ff;*/
  box-shadow: 0 0 20px rgba(0, 229, 255, 0.1);
}
.time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #bfbfbf;
}
.time:last-child {
  margin-bottom: 0;
}
