.about-hero {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 140px;
  /*ackground: linear-gradient(180deg, #0d0d0d 0%, #0b0c0f 100%);*/
  text-align: center;
  position: relative;
}

.about-hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background: #00e5ff;
  filter: blur(18px);
  opacity: 0.4;
}

.line {
  width: 120px;
  height: 3px;
  background: #00e5ff;
  margin: 0 auto 24px;
  border-radius: 6px;
  box-shadow: 0 0 12px #00e5ff;
  animation: glow 2s infinite ease-in-out alternate;
}

.title {
  font-size: 72px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #dcdcdc;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.text {
  max-width: 850px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.7;
  color: #bfbfbf;
}

@keyframes glow {
  from {
    box-shadow: 0 0 8px #00e5ff;
  }
  to {
    box-shadow: 0 0 22px #00e5ff;
  }
}
