.modal-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  background-color: #0d0d0d;
  padding: 40px;
  border-radius: 20px;
  color: #bfbfbf;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}
.question {
  font-size: 20px;
  font-weight: 500;
}
.div-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.div-buttons button {
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #00e5ff;
  letter-spacing: 1px;
  background-color: #0d0d0d;
  color: #00e5ff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  box-shadow: 0 0 8px #00e5ff55;
  transition: all 0.3s;
}

.div-buttons button:hover {
  box-shadow: 0 0 10px #00e5ffcc;
  transform: translateY(-2px);
}
@media (max-width: 480px) {
  .modal-div {
    max-width: 90%;
    padding: 40px;
  }
  .div-buttons {
    margin-top: 15px;
  }
  .div-buttons button {
    padding: 8px 20px;
    font-size: 14px;
  }
  .question {
    font-size: 16px;
    font-weight: 500;
  }
}
