.header {
  height: 34vw;
  margin: 30px auto;
  background: url("../../assets/gaming2.jpg") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 30px;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
}
.header-contents h2 {
  font-weight: 500;
  color: #bfbfbf;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: #bfbfbf;
  font-size: max(1vw, 12px);
}
.header-contents button {
  border: none;
  color: #bfbfbf;
  background-color: #0d0d0d;
  font-weight: 500;
  padding: 1vw 2.3vw;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s;
}
.header-contents button:hover {
  color: #00e5ff;
  background-color: black;
}
@media (max-width: 1024px) {
  .header-contents h2 {
    font-size: max(4.5vw, 22px);
  }
  .header-contents button {
    font-size: max(1vw, 11px);
    letter-spacing: 1.5px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 50vh;
  }
  .header-contents p {
    color: #bfbfbf;
    font-size: 14px;
  }
  .header-contents h2 {
    font-weight: 500;
    color: #bfbfbf;
    font-size: 40px;
  }
  .header-contents {
    max-width: 80%;
    gap: 10px;
    bottom: 10%;
  }
  .header-contents button {
    font-size: 14px;
    letter-spacing: 1.5px;
    padding: 10px 20px;
  }
}
@media (max-width: 480px) {
  .header {
    height: 50vh;
  }
  .header-contents {
    max-width: 80%;
    gap: 10px;
    bottom: 10%;
  }
  .header-contents p {
    color: #bfbfbf;
    font-size: 14px;
  }
  .header-contents h2 {
    font-weight: 500;
    color: #bfbfbf;
    font-size: 40px;
  }
  .header-contents button {
    font-size: 14px;
    letter-spacing: 1.5px;
    padding: 10px 20px;
  }
}
